<div>
  <label>Server name</label>
  <!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
  <input type="text" class="form-control" [(ngModel)]="serverName">
  <hr>
  <button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onCreateServer()">Add Server</button>
  <!-- <p [innerText]="allowNewServers"></p> -->
  <hr>
  <p style="background-color: aquamarine" *ngIf="serverWasCreated; else noServer">{{serverCreationStatus}}</p>
  <hr>
  <app-server></app-server>
  <app-server></app-server>
</div>
