<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <!-- <app-servers></app-servers> -->
      <!-- <hr> -->
      <div class="container">
        <label>Enter fruit name here:</label>
        <input class="form-control" type="text" [(ngModel)]="fruitName" (input)="onInput()">
      <br/>
        <p *ngIf="fruitName">{{fullName}}</p>
      </div>
      <div class="container">
        <hr>
        <span style="font-size: 16px" class="label label-info">This is the Exam component!</span>
        <br/><br/>
        <app-exam></app-exam>
        <hr>
      </div>
    </div>
  </div>
</div>


